<div class="row feed">
    <div class="col-md-4">
        <div ng-hide="currentUser">
            <h4 class="alert alert-info">Login</h4>

            <div ng-show="show" class="alert alert-danger">{{error}}</div>
            <input type="text" class="form-control" size="50" placeholder="email" ng-model="email"/>
            <br/>
            <input type="password" class="form-control" size="50" placeholder="password" ng-model="password"/>
            <br/>
            <button type="button" class="btn btn-info" ng-click="login()">Log In</button>
            <a class="btn btn-info" data-toggle="modal" data-target="#myModal">Not a memeber,SignUp</a>
        </div>
        <div ng-show="currentUser">
            Hi,{{currentUser}}<br/><br/>
            <a href ng-click="logout()" class="btn btn-info">Logout</a>
            <br/><br/>
            <a href="#/trackwatchlist" class="btn btn-info">Go to TrackWatchList</a>
        </div>
    </div>
    <div class="col-md-8">
        <h4 class="alert alert-info">What others shared.....</h4>
        <div class="new-meow" ng-show="currentUser">
            <input type="text" class="form-control" ng-model="meow.text" placeholder="What to you have to share today?">
            <button type="button" ng-click="addMeow(meow)" class="btn">Meow It</button>
        </div>
        <h5 class="meow" ng-repeat="meow in meows">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {{meow.text }}
            <a href ng-click="removeMeow(meow)"><span ng-show="currentUser"
                                                      class="glyphicon glyphicon-remove pull-right"
                                                      aria-hidden="true"></span></a><br/>
            <small>{{meow.name}}</small>
        </h5>
    </div>
    <!-- Trigger the modal with a button -->
    <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" ng-controller="SignUpController">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{modalHeader}}</h4>
                </div>
                <div class="modal-body">
                    <div ng-show="signupform">
                        <div class="alert alert-danger" ng-show="showError">
                            {{error}}
                        </div>
                        <input type="text" class="form-control" size="30" placeholder="Enter your Name"
                               ng-model="name"/>
                        <br/>
                        <input type="text" class="form-control" size="30" placeholder="Enter your Email"
                               ng-model="email"/>
                        <br/>
                        <input type="password" class="form-control" size="30" placeholder="Enter Your Password"
                               ng-model="password"/>
                        <br/>
                        <input type="password" class="form-control" size="30" placeholder="Re Enter your Password"
                               ng-model="matchpassword">
                        <br/>
                        <button type="button" class="btn btn-info" ng-click="signup()">Sign Up</button>
                    </div>
                </div>
                <div ng-show="welcome">
                    <img src="/static/images/welcome.png" class="img-responsive text-center" style="padding-left: 125px">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
